# Vercel / production environment variables
GEMINI_API_KEY=AQ.Ab8RN6IRrbgjwdCq0rH5re4i0UgtVGycMky57mfJNumz63OgJQ
SUPABASE_URL=https://dajfssubdipeqnmedwxo.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhamZzc3ViZGlwZXFubWVkd3hvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2MTAxODEsImV4cCI6MjEwNDE4NjE4MX0.cGBFywbbksMXOX-uzhM0obEPDEyC31I64zQ9d-TBwrU
